

/* 字体 */
.fontSize-16 {
  font-size: 16px;
}
.fontSize-18 {
  font-size: 18px;
}
.fontSize-20 {
  font-size: 20px;
}
.fontSize-22 {
  font-size: 22px;
}
.fontSize-24 {
  font-size: 24px;
}
.fontSize-26 {
  font-size: 26px;
}
.fontSize-28 {
  font-size: 28px;
}
.fontSize-30 {
  font-size: 30px;
}
.fontWeight {
  font-weight: bold;
}